# macOS
.DS_Store
*.swp

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Xcode user data
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# Provisioning
*.mobileprovision
*.p12
*.cer
*.certSigningRequest
